# Webstorm config
.idea/

# Logs
*.log
npm-debug.log*

# Runtime data
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Public
# Premium Template Metronic
# You can buy it on themeforest
# http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
public/css/
public/img/
public/landing/
public/landing/css/
public/landing/fonts/
public/landing/img/
public/landing/js/
public/landing/video/
public/media/
public/plugins/
public/scripts/
public/favicon.ico
*.html