# Webstorm config
.idea/

# Config file
.env

# Logs
*.log
npm-debug.log*

# Runtime data
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Public Content
# Premium Template Foundry - Landing
# You can buy it on themeforest
# http://themeforest.net/item/foundry-multipurpose-html-variant-page-builder/11562108

# Premium Template Metronic - Dashboard
# You can buy it on themeforest
# http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469

public/css/
public/img/
public/fonts/
public/js/
public/favicons/
*.html