<section class="page-title page-title-4 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="uppercase mb0">Contacto</h3>
            </div>
            <div class="col-md-6 text-right">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/sitemap">Paginas</a>
                    </li>
                    <li class="active">Contacto</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="p0">
    <div class="map-holder pt160 pb160">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d989.7667424371127!2d-73.11004317078856!3d7.118237999678746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwMDcnMDUuNyJOIDczwrAwNiczNC4yIlc!5e0!3m2!1ses!2sco!4v1493619039313"></iframe>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h4 class="uppercase">Ponerse en contacto</h4>
                <p>
                    Aquí encuentras un mapa de la ciudad de Bucaramanga y un formulario de contacto, te responderemos lo
                    más pronto posible.
                </p>
                <hr>
                <p>
                    Calle 46 # 35a - 06 Oficina 604
                    <br/> Edif. Central Park, Bucaramanga
                    <br/> Santander, Colombia.
                </p>
                <hr>
                <p>
                    <strong>E:</strong> info@sintecsas.com
                    <br/>
                    <strong>P:</strong> +57(7)643-4515
                    <br/>
                </p>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form class="form-email"
                      data-success="Gracias por ponerse en contacto, nos comunicaremos lo mas pronto posible."
                      data-error="Por favor diligenciar los campos requeridos.">
                    <input type="text" class="validate-required" name="name" placeholder="Nombre completo"/>
                    <input type="text" class="validate-required validate-email" name="email" placeholder="Email"/>
                    <textarea class="validate-required" name="message" rows="4" placeholder="Mensaje"></textarea>
                    <button type="submit">Enviar mensaje</button>
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>